[MONGO]
host = 127.0.0.1
port = 27017
db_name = test

boats_collection_name = boats
departments_collection_name = departments
locations_collection_name = locations
people_collection_name = people
properties_collection_name = properties
property_types_collection_name = property_types
sensors_collection_name = sensors
specializations_collection_name = specializations
system_states_collection_name = system_states
system_types_collection_name = system_types
systems_collection_name = systems

[CASSANDRA]
host_delimiter = ,
hosts = 127.0.0.2,127.0.0.3,127.0.0.4
host = 127.0.0.1
db_name = logbook

[NEO4J]
host = 127.0.0.1
port = 7687
username = neo4j
password = cassadaga

[FORMATS]
timestamp = %%Y-%%m-%%d %%H:%%M:%%S
time = %%H:%%M:%%S
date = %%Y-%%m-%%d