[MONGO]
host = 127.0.0.1
port = 1886
db_name = hot_cache

boats_collection_name = boats
departments_collection_name = departments
locations_collection_name = locations
people_collection_name = people
properties_collection_name = properties
property_types_collection_name = property_types
sensors_collection_name = sensors
specializations_collection_name = specializations
system_states_collection_name = system_states
system_types_collection_name = system_types
systems_collection_name = systems

[FRONTAL_TRANSPORTER]
max_age = 15
check_period = 5

[CASSANDRA]
host_delimiter = ,
hosts = 127.0.0.2, 127.0.0.3, 127.0.0.4
db_name = cache

[INTERMEDIATE_TRANSPORTER]
max_age = 30
check_period = 10

[NEO4J]
node_delimiter = ,
core_nodes = 127.0.0.11:7688, 127.0.0.12:7689, 127.0.0.13:7690
read_replicas = 127.0.0.14:7691, 127.0.0.15:7692, 127.0.0.16:7693
username = neo4j
password = cassadaga

[FIELDS]
field_delimiter = ,
common = _id, __accessed__, __created__, __gaps__
boats = name, capacity
property_types = name, description
system_states = name, description
system_types = name, description
specializations = name
locations = name
sensors = name, location
systems = name, type, serial_number, launched, checked, supervisor, state
people = name, surname, patronymic, department, phone, specialization
departments = name, vk, director
properties = name, type, admission, comissioning, department

[MYSQL_FIELDS]
field_delimiter = ,
boats = _id, name, capacity, __created__, __accessed__, __gaps__
property_types = _id, name, description, __created__, __accessed__, __gaps__
system_states = _id, name, description, __created__, __accessed__, __gaps__
system_types = _id, name, description, __created__, __accessed__, __gaps__
specializations = _id, name, __created__, __accessed__, __gaps__
locations = _id, name, __created__, __accessed__, __gaps__
sensors = _id, name, location, __created__, __accessed__, __gaps__
systems = _id, name, type, serial_number, launched, checked, supervisor, state, __created__, __accessed__, __gaps__
people = _id, name, surname, patronymic, department, phone, specialization, __created__, __accessed__, __gaps__
departments = _id, name, vk, director, __created__, __accessed__, __gaps__
properties = _id, name, type, admission, comissioning, department, __created__, __accessed__, __gaps__

[REAR_TRANSPORTER]
min_frequency = 1
check_interval = 60
check_period = 15

[MYSQL]
db_name = store

[FORMATS]
timestamp = %%Y-%%m-%%d %%H:%%M:%%S
time = %%H:%%M:%%S
date = %%Y-%%m-%%d